#carouselHero .carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 75vh;
  overflow: hidden; }

/* Clases y ID */
.italic {
  display: inline-block;
  text-align: center;
  font-style: italic;
  font-size: 0.8rem;
  color: #cfcfd4;
  padding: 10px; }

.parrafo {
  display: inline-block;
  text-align: center; }

.centro {
  text-align: center;
  margin: 20px;
  /* Titulos textos */ }
  .centro h1 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #d4dee2;
    font-size: 2rem; }
  .centro h2 {
    font-size: 1.8rem;
    font-family: 'Roboto Condensed', sans-serif;
    color: #d4dee2; }
  .centro h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 200;
    font-size: 1.2rem;
    color: #d4dee2; }
  .centro h6 {
    margin: 0 0 5px 0; }
  .centro .textos {
    font-weight: bold; }
  .centro .textos--destacados {
    font-size: large; }
  .centro .textos__fondos {
    color: #ffffff; }

/* Galeria home */
.vistaPrevia {
  display: flex;
  flex-flow: column nowrap; }

.vistaPrevia__gallery {
  margin: 20px; }
  .vistaPrevia__gallery .vistaPrevia__img {
    width: 100%;
    height: auto; }

.bg-barra {
  background-color: #2c3035a9 !important; }

/* Responsive Mobile First  */
@media only screen and (min-width: 992px) {
  .vistaPrevia {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly; } }

@media only screen and (max-width: 768px) {
  #carouselHero .carousel-item img {
    height: 65vh; }
  .text_responsive {
    text-align: center; } }

@media only screen and (max-width: 576px) {
  nav div a img {
    width: 200px;
    height: auto; }
  #carouselHero .carousel-item img {
    height: 40vh; } }
