:root {
  --ease: all 0.3s ease  0s;
  --overlay: rgba(23,25,29,0.8);
}


// Estilos Carousel 
#carouselHero .carousel-item img{
  object-fit: cover;  
  object-position: center;
  height: 75vh;
  overflow: hidden;
}

/* Clases y ID */

.italic{
    display: inline-block;
    text-align: center;
    font-style: italic;
    font-size: 0.8rem;
    color: rgb(207, 207, 212);
    padding: 10px; 
    
}

.parrafo{
  display: inline-block;
  text-align: center;
}

.centro{
  text-align: center;
  margin: 20px;
 
/* Titulos textos */

h1{
    font-family: 'Roboto Condensed', sans-serif;
    color: #d4dee2;    
    font-size: 2rem;
  }
  
h2{
    font-size: 1.8rem;
    font-family: 'Roboto Condensed', sans-serif;
    color: #d4dee2;   
  }
  
h3{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 200;
    font-size: 1.2rem;
    color: #d4dee2;   
    }

h6{
    margin: 0 0 5px 0;
  }    
    


.textos{
  font-weight: bold;
    }
         
.textos--destacados{
    font-size: large;
        }
          
.textos__fondos{
     color: #ffffff;
        }    
    }    

a{
  color: #f4f4f4; 
  text-decoration: none;
    }
  /* Galeria home */

.vistaPrevia{
    display: flex;
    flex-flow: column nowrap;
  }   
.vistaPrevia__gallery {  
    margin: 20px;
  
.vistaPrevia__img{
        width: 100%;
        height: auto
    }


  }
  
  .bg-barra {
    background-color: #2c3035a9 !important;
  }
  
.body_barra{
  padding-top: 120px
}



/* Grid Galeria de Fotografia */




.fotosGal {
  width: 100%; 
  object-fit: cover;
  display: block; 
}

.row > div {
  padding: 1px;
}


/* Texto imagenes */
.img__wrap {
  position: relative;
}

.img__description {
  position: absolute;
  top: 85%;
  bottom: 0;
  left: 2%;
  right: 0; 
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .6s, visibility .1s;
}


.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}


// Galeria de video 

button{
  cursor: pointer;
  transition: var(--ease);
}
button:hover {
  transform: scale(1.02);
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "top_section"
    "content_section" ;
}

.top_section{
  grid-area: top_section;
  min-height: 370px;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas:
  ". head ." ; 
  background: linear-gradient(var(--overlay),var(--overlay)), url(../img/clip.jpg);
  background-size: cover;
  background-position: center ;
  background-repeat: no-repeat;
}

.descr_video{
  grid-area: head;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.descr_video h2{
  margin-top: 70px;
}

.descr_video p{
    max-width: 570px;
    margin-bottom: 30px;
} 
.descr_video button{
  width: 113px;
  padding: 12px 0;
  border: none;
}

.content_section{
  grid-area: content_section;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "playlist_uno"
  "playlist_dos";
  margin-bottom: 60px;
}

.playlist_uno{
  grid-area: playlist_uno;
}

.playlist_dos{
  grid-area: playlist_dos;

}

.videos{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;  
}
.video{
  height: 180px;
  grid-column-start: span 3;
  position: relative;
  transition: var(--ease);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.video_des{
  height: 315px;
  width: 560px;
  position: relative;
  margin-bottom: 20px;
  transition: var(--ease);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.video:hover {
  transform: scale(1.02);
}

.video_des:hover {
  transform: scale(1.02);
}

.video_des i{
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 60px;
  transform: translate(-50%, -50%);
}


.video i{
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 60px;
  transform: translate(-50%, -50%);
}

.video_des i:hover{
  opacity: 1;
}

.video i:hover{
  opacity: 1;

}

// Form 

.form-control {
  border: none;
  border: 1px solid #ccc;
  border-radius: 4px; }

  .form-control:active, .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000; }    

.col-form-label {
  color: #000; }

.btn, .form-control, .custom-select {
  height: 50px; }

.custom-select:active, .custom-select:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000; }
  
.box {
  padding: 40px;
  background: #fff;
  -webkit-box-shadow: -30px 30px 0px 0 rgba(0, 0, 0, 0.08);
  box-shadow: -30px 30px 0px 0 rgba(0, 0, 0, 0.08); }
 
    textarea.form-control {
      height: auto;
    }
/* Responsive Mobile First  */


  
@media only screen and (min-width: 992px) {
     
       
    
    .vistaPrevia{
     display: flex;
     flex-flow: row nowrap;
     align-items: center;
     justify-content: space-evenly;  
     }
    }

    @media only screen and (max-width: 992px) 
    {    
  .video{
    grid-column-start: span 6 ;
    height: 240px;
  }

   
   }

   @media only screen and (max-width: 768px) {
  
     #carouselHero .carousel-item img{
       
       height: 65vh;
       }
       .text_responsive{
        text-align: center;
    } 
    .fotosGal {
          
      align-items: center;
      height: auto !important;
    }
  
    .video{
      grid-column-start: span 12 ;
      height: 318px;
    }
  
  
   }
   @media only screen and (max-width: 576px) {
    
  

      #carouselHero .carousel-item img{
        
        height: 40vh;
        }
  
        .row > div {
          padding: 2px;
        }

      .video_des{
        width: auto;
      }
        
    }
 